<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>

<div style="padding: 0.0em 1em;">
	<% if comment.deleted? %>
		<p>(сообщение удалено)</p>
  	<% else %>
  		<%= simple_format comment.body %>
		<div style="margin: -0.5em 0; display: flex;">

			<div class="basetext">
				написал(а) <%= comment.user.username %> &nbsp;&nbsp;
			</div>
	  	<div data-controller="reply" style="margin: -0.3em 0 1.2em;">
				<div >
					<%= link_to "ответить", "#", data: {action: "click->reply#toggle"} , style: "padding: 0em 0em 1em;" %>
					<%= link_to "удалить", [comment.commentable, comment], method: :delete, data: {confirm: "Вы уверены?"} if comment.user == current_user %>
				</div>
			  <div style="">
			  	<%= render partial: "comments/form", locals: {
			  		commentable: comment.commentable, 
			  		# parent_id: (max_nesting.blank? || nesting < max_nesting) ? comment.id : comment.parent_id, class: "d-none", 
			  		parent_id: reply_to_comment_id(comment, nesting, max_nesting), class: "d-none",
			  		target: "reply.form"
			  	} %>
			  </div>	
	  		
	  	</div>
		</div> 
		<% end %>
	<%= tag.div id: "#{dom_id(comment)}_comments" do %>
		<%= render comment.comments, nesting: nesting + 1, max_nesting: local_assigns[:max_nesting] %> 
	<% end %>
</div>