<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>

<div style="padding: 0 0 0 1em; ">
	<% if comment.deleted? %>
		<p>(сообщение удалено)</p>
  	<% else %>
  		<div style=" display: flex; margin: 0.5em 0;">
  	  <div style="width: 1.5em; background-color: #1f242b; padding: 0.2em; margin: 0em 0.3em; height: 3.5em;"><%= comment.id %>
  	  </div>
  		<div style="background-color: #1f242b; padding: 0.5em 0.7em;  width: 100%;">
  			<%= simple_format comment.body %>  			
				<div style="margin: -0.5em 0; display: flex;">

					<div class="basetext">
						написал <%= comment.user.username %> &nbsp;&nbsp;
					</div>
	  			<div data-controller="reply" style="margin: -0.0em 0 0.3em;">
						<div class="aprior">
							<%= link_to "ответить", "#", data: {action: "click->reply#toggle"} , style: "padding: 0em 0em 0.0em;" %>&nbsp;
							<%= link_to "удалить", [comment.commentable, comment], method: :delete, data: {confirm: "Вы уверены?"} if comment.user == current_user %>
						</div>
					  <div style="">
					  	<%= render partial: "comments/form", locals: {
					  		commentable: comment.commentable, 
					  		# parent_id: (max_nesting.blank? || nesting < max_nesting) ? comment.id : comment.parent_id, class: "d-none", 
					  		parent_id: reply_to_comment_id(comment, nesting, max_nesting), class: "d-none",
					  		target: "reply.form"
					  	} %>
					  </div>	
	  		
	  			</div>

				</div> 

			</div>

			</div>
		<% end %>
	<%= tag.div id: "#{dom_id(comment)}_comments" do %>
		<%= render comment.comments, nesting: nesting + 1, max_nesting: local_assigns[:max_nesting] %> 
	<% end %>
</div>