<div style="padding: 0.5em 1em; ">
  
  <%=  comment.body %>
  <h5>написал(а) <%= comment.user.username %></h5>
  <div data-controller="reply">

  	<%= link_to "ответить", "#", data: {action: "click->reply#toggle"} %>
  	<%= render partial: "comments/form", locals: {commentable: comment.commentable, parent_id: comment.id, class: "d-none", target: "reply.form"} %>
  </div>
  <%= render comment.comments %> 
</div>