<div style="padding: 0.5em 1em; ">
  
  <%= simple_format comment.body %>
  <h4>написал(а) <%= comment.user.username %></h4>
  <div data-controller="reply">

  	<%= link_to "ответить", "#", data: {action: "click->reply#toggle"}, style: "padding: 0em 0em 1em;" %>
  	<%= render partial: "comments/form", locals: {commentable: comment.commentable, parent_id: comment.id, class: "d-none", target: "reply.form"} %>
  </div>
  	<%= render comment.comments %> 
</div>