<!--  
 <div class=" lostcenter">
   <div class="mainframe" style="padding: 1em;">
    <div class="basetext">
      баланс: <%= @client.ballance%> руб.
    </div>
    <br>
     пополнить счет:
 
    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">    
      <input type="hidden" name="receiver" value="410013909808332">
 
      <input type="hidden" name="label" value="<%=current_user.id %>">    
      <input type="hidden" name="quickpay-form" value="donate">    
      <input type="hidden" name="targets" value="хостинг">    
      <input   name="sum" value="2" data-type="number"> руб.   
 <br><br>
      <label><input type="radio" name="paymentType" value="PC">&nbsp;&nbsp;Яндекс.Деньгами</label>  <br>  <label><input type="radio" name="paymentType" value="AC" checked="checked">&nbsp;&nbsp;Банковской картой</label>  <br><br>  <input type="submit" value="Оплатить"></form>

    <% if current_user.try(:admin?) or  current_user.try(:superadmin?) %>
      <%= link_to 'зачисления',  inboxes_path %>
    <% end %>
     ~ <%=  (@client.ballance/$stepcash/24).round %> дней 
    <br>
      <div >
        <br>
        <hr>
        <div>Обсуждение задач, ошибки, обратная связь с разработчиком</div>
        <div id="posts"></div>   
        <hr>     
      </div>

    <br>
  <%= render :template => "inboxes/index" %>
   </div>
 </div>   -->
