
<div id="users">
  <!-- <temperature></temperature> -->
</div>
<% if current_user.user? %>
	<p style="text-align: center; padding-top: 1em;">
		Доступ на сайт —  после одобрения аккаунта администратором.
	</p>
<% end %>
<script type="text/x-template" id="temperature-template">
	<div class="usersblock" v-if="this.$store.getters.role.role == 'superadmin' || this.$store.getters.role.role == 'admin' ">
		 <!-- {{ this.$store.getters.role }} -->
		<% @users.each do |user| %>
			<div class="userstring del<%= user.id %>" >
				<div>
					<%= user.email %> 
				</div>
				<div>
				 	<%= user.username %>
				</div>
 				<div>
				 	<%= user.id %>
				</div> 
				<% if user.client? %> 
          <div style="background-color: green;">
						<%= user.client.ballance %>
					</div> 
				<% end %>
				<div v-on:click="reload">
				<%  if user.user? %>
					<%= link_to "дать права админа", admination_user_path(user) %> 
				<% end %>
				</div> 
			 <div v-on:click="reload">
				<% if user.user? %>
					<%= link_to "дать права клиента", clientation_user_path(user) %> 
				<% end %>
				</div> 
				<div v-on:click="reload">
				 	<%  if  user.client? %>
						<%= link_to "забрать права", declientation_user_path(user) %> 
					<% end %>
				</div>
				<div v-on:click="reload">
				 	<%  if  !user.voodoo? && !user.superadmin? && !user.admin? && !user.client? %>
						<%= link_to "вудуизировать", voodooation_user_path(user) %> 
						<% end %>
					</div>
				<div v-on:click="reload">
					<%  if user.voodoo? %>
						-=Вуду=-
						<%= link_to "забрать права", deadmination_user_path(user) %> 
					<% end %>
				</div>
				<div v-on:click="reload">
					<%  if  user.admin? %>
					  -=Админ=-
					   <%= link_to "забрать права", deadmination_user_path(user) %> 
					<% end %>
				</div> 
				<div>
					<%  if  user.superadmin? %>
					  -=СуперАдмин=-
					 <% end %>
				</div> 
				<div v-on:click="deleteuser(<%=user.id.to_s %>)">
					удалить
				</div>	
			<br> 
			</div>
			 
		<% end %>
	</div>
</script>

<style scope>
	.userstring {
		display: flex;
		flex-direction: row;
 
	}
	.userstring div {
		padding: 0.1em 1em;
	}
	.userstring:nth-child(even) {
	  background: #774C60;
	 }
	 .userstring:nth-child(odd) {
	  background: #748CAB;
	 }
</style>
 