<p id="notice"><%= notice %></p>

<h1>Vks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted at</th>
      <th>V views</th>
      <th>V like</th>
      <th>Thumb map img as div</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vks.each do |vk| %>
      <tr>
        <td><%= vk.title %></td>
        <td><%= vk.posted_at %></td>
        <td><%= vk.v_views %></td>
        <td><%= vk.v_like %></td>
        <td><%= vk.thumb_map_img_as_div %></td>
        <td><%= link_to 'Show', vk %></td>
        <td><%= link_to 'Edit', edit_vk_path(vk) %></td>
        <td><%= link_to 'Destroy', vk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vk', new_vk_path %>
