<!-- <p id="notice"><%= notice %></p>
 -->
<div class="mainframe">
  
  <h2>Флуд</h2>

  <table>
    <thead>
      <tr>
        <th> </th>
        <!-- <th> </th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr data-item_id="<%= post.id %>">
          <td><%= post.title %></td>
          <!-- <td><%#= post.user.username %></td> -->
   <!--        <td><%#= post.body %></td> -->
          <td><%= link_to 'Посмотреть', post %></td>
          <td><%= link_to 'Редактировать', edit_post_path(post) %></td>
          <td><span class="deleteAction">Удалить</span></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Новый пост', new_post_path %>
</div>
