<!-- <p id="notice"><%= notice %></p>
 -->

 <!-- <script>
  function setOnclick(a) {
  a.setAttribute("onclick","popupWin = window.open(this.href,'contacts','width=820px,height=700px,top=50,left=200px,toolbar=0, location=0, directories=0, menubar=0, scrollbars=0, resizable=0, status=0'); popupWin.focus(); return false");
  }

  function externalLinks() {
  var links = document.getElementsByTagName("a");
    for (i=0; i<links.length; i++) {
      if (links[i].getAttribute("href") && links[i].getAttribute("rel") == "external") {
        setOnclick(links[i])
      }
    }
  }
  window.onload = externalLinks;
</script> -->
<div class="mainframe lostcenter">

</div>
<div class="mainframe lostcenter">
  <div style="margin: 1em;">
    <% unless current_user.try(:user?) %>  
      <h2><%= @currole %></h2>
      <div>
        <table style="width: 100%;">
          <thead>
            <tr>
              <th> </th>
              <!-- <th> </th> -->
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @postsprivate.each do |post| %>
              <tr data-item_id="<%= post.id %>">
                <td><%= link_to post.title, post, :class => 'posttitlelink' %></td>
               <!--  <td><%= link_to 'Редактировать', edit_post_path(post), :class => 'mediumtext' %></td> -->
               <% if post.user == current_user %>
                <td style="width: 10%;" ><span class="deleteAction" >Удалить</span></td>
                <% else %>
                  <td style="width: 10%;" class="miniheads">
                    <%= post.user.username  %>
                  </td>
                <% end %>

              </tr>
            <% end %>
          </tbody>
        </table>        
      </div>
      <div class="aprior" style="padding: 0em 1.2em 0.7em 0.5em;">
        <%= link_to 'Новый пост', new_post_path %>
      </div>
    <% end %>

    <h2>Общий форум</h2>
    <table style="width: 100%;">
      <thead>
        <tr>
          <th> </th>
          <!-- <th> </th> -->
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr data-item_id="<%= post.id %>">
            <td><%= link_to post.title, post, :class => 'posttitlelink' %></td>
           <!--  <td><%= link_to 'Редактировать', edit_post_path(post), :class => 'mediumtext' %></td> -->
           <% if post.user == current_user %>
            <td style="width: 10%;" ><span class="deleteAction" >Удалить</span></td>
            <% else %>
              <td style="width: 10%;" class="miniheads">
                <%= post.user.username  %>
              </td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
    <% if current_user.try(:user?) %>  
      <div class="aprior" style="padding: 0em 1.2em 0.7em 0.5em;">
        <%= link_to 'Новый пост', new_post_path %>
      </div>
    <% end %>
  </div>
</div>

