<!-- <p id="notice"><%= notice %></p> -->
<div class="mainframe">
	<p>
	  <strong> </strong>
	  <%= @post.title %>
	</p>

	 
	  <strong> </strong>
	  <%= @post.body %>
 
	<div style="padding-bottom: 0.4em">
		<%= link_to 'редактировать', edit_post_path(@post) %> |
		<%= link_to 'назад', posts_path %>		
	</div>
<hr>
<h4>комментарии:</h4>
<p>
	<%= render @post.comments %></p>
	<%= render partial: "comments/form", locals: {commentable: @post} %>
	
</div>