<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Разработка веб-приложений, сайтов с необходимыми вам возможностями</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%# if current_user.try(:admin?) %>
        <%#= javascript_include_tag 'forsignedusersapp'  %>  
    <%#s end %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 

    <%= stylesheet_pack_tag 'hello_vue', media: 'all', 'data-turbolinks-track': 'reload' %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body >
    <div class="maincontainer">
                    <div class="railsblock">
        <% if user_signed_in? %>
            <%# if current_user.try(:admin?) %>
             <!--  <a href ="/resizeimages" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(800, screen.availHeight)+',width='+Math.min(800, screen.availWidth)); return false;">обрезать картинку</a>&nbsp;&nbsp; -->
            <%# end %>
            <%= link_to current_user.email, edit_user_registration_path %>&nbsp;&nbsp;&nbsp;
            <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
            <% else %>
             <%= link_to "Войти", new_user_session_path %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
  
  <%#= javascript_pack_tag 'anotherscripts' %>
</html>
