 <!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Сайты под ключ, совместный поиск идей, разработка решений</title>
    <meta name="description" content="Используемый стек технологий: Ruby on Rails, Vue.js sql базы данных. Разработка веб-приложений, сайтов"/>
    <meta name="keywords" content="Создание сайтов Екатеринбург под ключ система управления админка программирование дизайн"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application'%>
    <%# if current_user.try(:admin?) a%>
        <%#= javascript_include_tag 'forsignedusersapp'  %>  
    <%#s end %>
		<%= javascript_pack_tag 'application'%>
    <%= javascript_pack_tag 'hello_vue'%>
 <%= stylesheet_pack_tag 'hello_vue'%>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link  href="https://unpkg.com/emoji.css/dist/emoji.min.css" media="all" rel="stylesheet"/>
    <!-- vuetify fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

  </head>
  <body>
    
       
<!-- <div id="topsidepanel" class="topsidepanel"></div> -->
    <!-- <div class="topBlank smalltext"></div> -->
    <%# if current_user.try(:admin?) or  current_user.try(:superadmin?) or  current_user.try(:client?)%>
    <%# if !user_signed_in? %>
    <!-- <div class="railsblock" style="margin-top: 0em;"><%#= link_to "Войти", new_user_session_path %></div> -->
    <%# end %>
    <!-- <div class="hat">           -->
      <%#= tag.div id: :hat, 
        data: { 
        } 
      %>
        


    <!-- <div id="VmBackTop"></div> -->
   
    <%# end %>    
    <%# if defined?current_user.role %>
     <!--  <currentrole class="currentrole" :role=" <%#= current_user.role.to_json %> "></currentrole> -->
    <%# end %>

    <!-- <div class="maincontainer"> -->  

<!--       <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
  <!-- <div class="mainframe"> -->
    <% if user_signed_in? %>
      <!-- <div class="railsblock"> -->
        <%# if user_signed_in? %>
          <!-- <div class="railsblockhide"> -->
            <%#= link_to current_user.email, edit_user_registration_path %> 
          <!-- </div> -->
          <%#= link_to "Выйти", destroy_user_session_path, method: :delete %>
        
          <%#= link_to "Войти", new_user_session_path %>
          
 

          <script>
            var checklog = true
            console.log(checklog)
          </script>

        <%# end %>
      <!-- </div>   -->
    <% else %>
        <!-- </div> -->
<!-- <div id="head"></div> -->
    <%#= link_to "Войти", new_user_session_path %>
      <script>
        var checklog = "unlogged"
        console.log(checklog)
      </script>
    <% end %> 
 <div id="app"> </div>  
    <%= yield %>
         
  <!-- </div> -->
      <!-- </div> -->
    <%= tag.div id: :VmBackTop, 
      data: { 
      } 
    %>
        
  
  </body>
  
 
  <%#= javascript_pack_tag 'anotherscripts' %>
</html>
