 <!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Разработка веб-приложений, сайтов с необходимыми вам возможностями</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# if current_user.try(:admin?) %>
        <%#= javascript_include_tag 'forsignedusersapp'  %>  
    <%#s end %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'hello_vue', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
  </head>
  <body>
    <div id="topsidepanel"></div>

    <%# if current_user.try(:admin?) or  current_user.try(:superadmin?) or  current_user.try(:client?)%>
           <div class="railsblock">
            <% if user_signed_in? %>
              <%= link_to current_user.email, edit_user_registration_path %>&nbsp;&nbsp;&nbsp;
              <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
            <% else %>
              <script>
                var checklog = 'unlogged'
                console.log('unlogged')
              </script>
              <%#= link_to "Войти", new_user_session_path %>
            <% end %>
          </div>   
    <%# end %>    
    <%# if defined?current_user.role %>
     <!--  <currentrole class="currentrole" :role=" <%#= current_user.role.to_json %> "></currentrole> -->
    <%# end %>

    <!-- <div class="maincontainer"> -->  
     
<!--       <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
    <%= yield %>
      <!-- </div> -->
  </body>
  <%#= javascript_pack_tag 'anotherscripts' %>
</html>
