 <!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Сайты, автоматизация бизнес-процессов, аудит</title>
    <meta name="description" content="Создание простых страничек - это прошлый век, у вас есть идеи по поводу автоматизации вашего бизнеса? Если нет то мы можем совместно вникнуть в процессы вашего бизнеса и разработать требуемые решения. Предоставляется лаконичная и простая система управления сайтом. Используемый стек технологий: Ruby on Rails, Vue.js"/>
    <meta name="keywords" content="Создание сайтов Екатеринбург под ключ система управления админка программирование дизайн"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# if current_user.try(:admin?) %>
        <%#= javascript_include_tag 'forsignedusersapp'  %>  
    <%#s end %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'hello_vue', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
  </head>
  <body>
    
    <div id="topsidepanel"></div>
    <div id="topBlank"></div>
    <%# if current_user.try(:admin?) or  current_user.try(:superadmin?) or  current_user.try(:client?)%>
    <% if !user_signed_in? %>
    <div class="railsblock" style="margin-top: 0em;"><%#= link_to "Войти", new_user_session_path %></div>
    <% end %>
    <% if user_signed_in? %>
      <div class="railsblock">
        <% if user_signed_in? %>
          <div class="railsblockhide">
            <%#= link_to current_user.email, edit_user_registration_path %>&nbsp;&nbsp;&nbsp;
          </div>
          <%#= link_to "Выйти", destroy_user_session_path, method: :delete %>
        
          <%#= link_to "Войти", new_user_session_path %>
          
<!--           <script>
              axios.delete('/users/sign_out', {
              }) 
              .then((response) => {  
                if (document.location.pathname != '/'){
                  window.location.href = '/';
                   
                }else{

                }
                
              //  this.$store.commit('tokensend', null) 
                  //   this.$store.commit('tokensend', null) 
              })
            
          </script> -->

          <script>
            var checklog = true
            console.log(checklog)
          </script>

        <% end %>
      </div>  
    <% else %>
      <script>
        var checklog = "unlogged"
        console.log(checklog)
      </script>
    <% end %> 
    <%# end %>    
    <%# if defined?current_user.role %>
     <!--  <currentrole class="currentrole" :role=" <%#= current_user.role.to_json %> "></currentrole> -->
    <%# end %>

    <!-- <div class="maincontainer"> -->  
     
<!--       <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
  <!-- <div class="mainframe"> -->
    <%= yield %>
  <!-- </div> -->
      <!-- </div> -->
  </body>
  <%#= javascript_pack_tag 'anotherscripts' %>
</html>
