<p id="notice"><%= notice %></p>

<h1>Inboxes</h1>

<table>
  <thead>
   
  </thead>
    <thead>
      <tr>
        <td>operation_i</td>
        <td>amount</td> 
        <td>withdraw_amount</td>
        <td>label</td> 
        <td>sha1_hash</td>
        <td>datetime</td>
        <td>codepro</td> 
      </tr>
    </thead>

  <tbody>
    <% @inboxes.each do |inbox| %>
      
      <tr>
        <!-- <td><%= inbox.body %>1</td> -->
        <td><%= inbox.operation_id %></td>
        <td><%= inbox.amount %> </td> 
        <td><%= inbox.withdraw_amount %> </td>
        <td><%= inbox.label %> </td> 
        <td><%= inbox.sha1_hash %> </td>
        <td><%= inbox.datetime %> </td>
        <td><%= inbox.codepro %> </td> 
        <td><%= link_to 'Show', inbox %></td>
        <td><%= link_to 'Edit', edit_inbox_path(inbox) %></td>
        <td><%= link_to 'Destroy', inbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inbox', new_inbox_path %>
